* {
    box-sizing: border-box;
}

body {
    color: rgb(99, 127, 131);

    font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
    box-sizing: border-box;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
