.header {
    display: flex;

    font-weight: bold;

    align-self: center;
}

.header__logo {
    flex: 1;

    margin: 30px 0;

    text-decoration: none;

    color: inherit;

    font-size: 32px;
    font-weight: 900;
}

.header__menu {
    margin: 35px 0;
}

.header__mobile-button {
    display: none;

    margin-right: 20px;

    color: rgb(228, 85, 29);
    border: none;
    background: none;
}

@media only screen and (max-width: 1200px) {
    .header__mobile-button {
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .header__logo {
        margin-left: 20px;
    }
}