.footer-section {
    margin-top: 30px;
}

.footer-section__main-title {
    height: 140px;

    color: white;
    background-color: rgb(99, 127, 131);
}

.footer-section__mailing {
    padding-bottom: 50px;
}

.footer-section__social {
    margin: 30px 0;
}

.footer-section__copyright {
    padding: 40px 0;
}